.grid {
  margin: auto;
  width: 100%;
}

.grid .row {
  display: flex;
  justify-content: center;
}

.grid .cell {
  width: 4px;
  height: 4px;
  border: 1px solid #ccc;
}

.cell.circle {
  background-color: blue !important;
}

.controls {
  display: flex;
  justify-content: center;
}
.controls label {
  margin: 20px;
}

.site-title {
  text-align: center;
}

@media print {
  .no-print {
    display: none;
  }
}